.banner {
	background-image: url(../../images/background.jpg);
	color: #1c312c;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
	margin-bottom: 100px;
}
.banner h1 {
	font-size: 54px;
	font-weight: bolder;
	color: #1c312c;
}
.banner h2 {
	font-size: 30px;
	font-weight: lighter;
	color: white;
}